
//Общие стили
body *{
    font-family: $fontOpenSans;
}


.text-light {
    font-family: $fontSansLight;
}


.text-bold {
    font-family: $fontSansSemibold;
}


// Общие стили закончились












 