
//Общие стили
body *{
    font-family: $fontOpenSans;
    line-height: 1;
    font-size: 15px;

    box-sizing: border-box;
    
    .btn:focus, .btn:active, input:focus, .input:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
      }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }

    a {
        text-decoration: none !important;
        color: black;
        &:hover {
            color: none;
        }
    }

    .empty_green_btn {
        color: $colorGreen;
        padding: 10px 20px;
        border: 1px solid $colorGreen;
        border-radius: 3px;

        &:hover {
            background: $colorGreen;
            color: white;
        }
    }

    .green_btn {
        background: $colorGreen;
        border-radius: 3px;
        border: 1px solid $colorGreen;
        color: white;
        padding: 8px 20px;

        &:hover {
            background: white;
            color: $colorGreen;
        }
    }

    .catalog_head,
    .offers_head,
    .partner_head,
    .sales-leaders_head,
    .gallery_head,
    .map_head,
    .news_head,
    .gold_arms_head,
    .wood_species_head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
        align-items: center;

        h2 {
            font-size: 25px;
        }
    }
}



.font-light {
    font-family: $fontSansLight;
}


.font-bold {
    font-family: $fontSansSemibold;
}


// Общие стили закончились




#header {

    img {
        cursor: pointer;
    }

    .header_logo_text {

        h1 {
            display: inline-block;
            width: 300px;
            margin-left: 25px;
        }
    }
    
    .header_num_icon {
        
        div {
            font-size: 19px;
            margin-right: 85px;

            span {
                margin-right: 15px;
                font-size: 19px;
            }
        }

        
        :nth-child(3) {
            margin-left: 30px;
        }
    }
}



// секция меню----------------------------------------------------
.section_menu {
    margin: 15px 0 40px 0;
    background: #e6e6e6;
    

    .navbar {
        padding-left: 25px;
        
        .nav-item {
            margin-right: 45px;
            
            .nav-link {
                color: black;
                padding: 0;
                margin: 0 2px; 
            }
        }

        .active {
           
            .menu_green_line {
                width: 100%;
                height: 2px;
                background: $colorGreen;
                bottom: 0;
                position: relative;
                top: 12px;
            }
        }

        .form-control {
            height: 25px;
            width: 180px;
            border-radius: 2px;
            
        }

        .fa-search {
            color: lightgrey;
            position: absolute;
            right: 25px;
            cursor: pointer;
        }
    }
}



// Секция примеры работ------------------------------------------
.section_examples {

    img {
        width: 100%;
    }

    span {
        background: $colorGreen;
        color: white;
        padding: 16px 20px;
        position: absolute;
    }
}




// секция каталог-----------------------
.section_catalog {
    padding: 60px 0 50px 0;

    .row :nth-child(2) > .catalog_square {
        &:hover {
            background: url(../images/products.png);
            background-size: cover;
            color: white;

            .catalog_square_grey {
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;

                .catalog_square_circle_green {
                    background: $colorGreen;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                                       

                    .catalog_icon_green {
                        display: none;
                    }

                    .catalog_icon_white {
                        display: block;
                        
                    }
                }
            }
        }
    }

    h3 {
        font-size: 20px;
        padding: 15px 0 25px 0;    
    }

    .catalog_square {
        border: 1px solid #e6e6e6;;
        padding: 25px 20px;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;

        span {
            line-height: 1.5em;

        }

        .catalog_square_grey {
            background: #f2f2f2;
            padding: 35px 0;
            height: 105px;
            cursor: pointer;

            .catalog_icon_white {
                display: none;
            }
        }
    }
}




// Секция "спецпредложения"
.section_offers {
    padding-bottom: 30px;

    .col-lg-3 {
        margin-bottom: 30px;
    }

    .offers_square {
        border: 1px solid #e6e6e6;;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;

        &:hover {
            box-shadow: #d6d6d6 3px 3px 5px;
            cursor: pointer;

            .offers_square_description_text {
                color: $colorGreen;
            }

            .offers_square_img {
                
                .offers_square_img_text_sale {
                    font-size: 30px;
                }
            }  
        }



        .offers_square_img {

            img {
                width: 100%;
            }

            .offers_square_img_text_sale {
                background: $colorGreen;
                color: white;
                padding: 15px 8px;
                position: absolute;
                font-size: 20px;
                font-family: $fontSansLight;
                transition: 0.5s;
            }
        }

        .offers_square_description {
            padding: 15px 20px;

            span {
                line-height: 1.5em;
            }

            .offers_square_description_price {
                padding-top: 25px;
                justify-content: space-between;
                display: flex;
                align-items: center;

                .offers_square_description_price_true {
                    font-size: 20px;
                    font-weight: 500;
                }

                .offers_square_description_price_false {
                    color: #999999;
                }
            }
        }
    }
}


// Секция "Партнеры"
.section_partner {
    background: #f5f5f5;
    padding: 45px 0 60px 0;

    .partner_block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .partner_block_hover {
            padding-top: 25px;
    
            h4 {
                font-size: 20px;
                padding: 25px;
            }
    
            &:hover {
                h4 {
                    color: $colorGreen;
                    cursor: pointer;
                }
            }   
        }

        span {
            line-height: 1.5em;
        }
    }
}


//секция "Лидеры продаж"
.section_sales-leaders {
    padding: 50px 0 60px 0;

    .sales-leaders_square {

        .sales-leaders_square_text {
            padding: 30px 0 40px 0;

            .sales-leaders_square_price {
                font-size: 23px;
                padding: 25px 0 20px 0;
            }
        
            .sales-leaders_square_model {
                font-size: 20px;
                line-height: 1.2em;
                padding: 15px 0;
            }
        
            .sales-leaders_square_description {
                line-height: 1.5em;
            }
        }
    }
}


// Секция "выбор материала"
.section_material_choice {
    color: white;
    background: url(../images/background_payment.png);
    padding: 50px 0 30px 0;

    .material_choice_head {

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
            font-family: $fontSansLight;
            padding: 50px 0 25px 0;
        }
    }

    .material_choice_price {
        
        p {
            font-size: 67px;
            font-family: $fontSansLight;
            margin-left: 90px;
        }
    }

    .material_choice_area {
        p {
            padding-bottom: 25px;
            font-size: 20px;
            font-family: $fontSansLight;
        }
    }

    .green_btn {
        margin-left: 100px;
        position: absolute;
    }

    .dropdown {
        margin-bottom: 30px;
        font-size: 17px;
        font-family: $fontSansLight;

        .dropdown-item:hover {
            background: #9c9ea1;
        }

        .btn-secondary {
            background-color: rgba($color: #9c9ea1, $alpha: 0.7);

            .fa-caret-down {
                color: black;
            }
        }
    }
}



// Секция Галерея выполненых работ
.section_gallery {
    padding: 50px 0 60px 0;

    #carouselExampleFade {

        .carousel-caption {
            background-color: rgba($color: #000000, $alpha: 0.7);
            height: 100%;
            right: 0 !important;
            bottom: 0px !important;
            padding-left: 30px;
            margin-right: 15px;
    
            h5,
            p {
                font-size: 20px;
                font-family: $fontSansLight;
            }
    
            p {
                padding-top: 20px;
            }
    
            h5 {
                padding: 55px 0 30px 0;
                line-height: 1.5em;
                width: 335px;
            }
    
            :nth-child(4) {
                padding-bottom: 40px;
            }
        }

        .carousel-control-next {
            right: -100px;

            .carousel-control-next-icon {
                transform: rotate(-45deg);
                border-right: 2px solid #b7b7b7;
                border-bottom: 2px solid #b7b7b7;
                width: 30px;
                height: 30px;
            }
        }


        .carousel-control-prev {
            left: -100px;

            .carousel-control-prev-icon {
                transform: rotate(45deg);
                border-left: 2px solid #b7b7b7;
                border-bottom: 2px solid #b7b7b7;
                width: 30px;
                height: 30px;
            }
        }

        img {
            width: 1140px !important;
            height: 400px !important;
            padding: 0 15px;
        }
    }
}



// Секция с картой и "полезными ссылками"
.section_map {
    padding-bottom: 60px;

    .map_green_pointer {
        background: $colorGreen;
        display: inline-block;
        padding: 20px;
        z-index: 10;
        color: white;
        line-height: 1.3em;
        position: absolute;
        margin: 40px 60px 0 0;
        right: 0;
        -webkit-box-shadow: 0px 9px 0px 0px rgba(48, 69, 131, 0.19);
        -moz-box-shadow:    0px 9px 0px 0px rgba(48, 69, 131, 0.19);
        box-shadow:         0px 9px 0px 0px rgba(48, 69, 131, 0.19);

        &::after {
            content: ''; 
            position: absolute;
            border: 20px solid transparent; 
            border-left: 20px solid $colorGreen; 
            border-top: 20px solid $colorGreen; 
            left: 0;
            bottom: -25px;
            }
        

        span {
            font-family: $fontSansLight;
        }
    }

    

    .map_useful {
        padding-bottom: 30px;

        .map_useful_text {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            
            
            h4 {
                font-size: 20px;
                line-height: 1.2em;
            }

            p {
                line-height: 1.4em;
                margin-top: 25px;
            }
        }
    }
}


// Секция "Новости"
.section_news {
    padding-bottom: 50px;

    .news_block {

        .news_block_date {
            
            a {
                background: $colorGreen;
                color: white;
                padding: 10px;
                display: inline-block;
            }
        }

        h4 {
            font-size: 20px;
            padding: 25px 0;
            line-height: 1.3em;
        }

        p {
            line-height: 1.4em;
        }
    }
}



// Секция "тем у кого золотые руки"
.section_gold_arms {
    padding-bottom: 50px;

    .container-fluid {
        background: url(../images/gold-arms.png);
        background-size: cover;

        .offset-md-6 {
            padding-left: 90px;
        }
        
        .gold_arms_description {
            padding: 30px;
            background-color: rgba($color: #000000, $alpha: 0.7);
            color: white;
            width: 510px;
            height: 100%;

            h3 {
                font-size: 25px;
                font-family: $fontSansLight;
            }

            p {
                padding: 20px 13px 12px 0;
                line-height: 1.5em;
            }

            .gold_arms_description_val,
            .gold_arms_description_price {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                span {
                    margin: 7px 0;
                    font-family: $fontSansLight;
                }
            }

            .gold_arms_description_price {
                padding-left: 40px;
            }

            .gold_arms_description_link_green {
                color: $colorGreen;
                display: block !important;
                padding-top: 20px;

                &:hover {
                    color: white;
                }
            }

            .gold_arms_description_btn {
                padding: 50px 0 30px 0;

                :nth-child(2) {
                    margin-left: 20px;
                }
            } 
        }
    }
}



// секция "Породы деревьев"
.section_wood_species {
    padding-bottom: 60px;

    .row {
        :nth-child(2) > .wood_species_square_block > .wood_species_square_block_front {
            background: url(../images/species-1.png);
            background-repeat: no-repeat;
        }

        :nth-child(3) > .wood_species_square_block > .wood_species_square_block_front {
            background: url(../images/species-2.png);
            background-repeat: no-repeat;
        }

        :nth-child(4) > .wood_species_square_block > .wood_species_square_block_front {
            background: url(../images/species-3.png);
            background-repeat: no-repeat;
        }

        :nth-child(5) > .wood_species_square_block > .wood_species_square_block_front {
            background: url(../images/species-4.png);
            background-repeat: no-repeat;
        }
    }

    .wood_species_square_block {
        position: relative;
        cursor: pointer;
        

        
        .wood_species_square_block_front {
    
            h5 {
                padding: 220px 0 30px 0;
                font-size: 20px;
            }
        }

        .wood_species_square_block_back {
            background-color: rgba($color: #000000, $alpha: 0.7);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: white;
            

            .wood_species_square_block_back_circle {
                background: #ada8a7;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 60px;
                
                .parent_right_arrow {
                    margin-right: 10px;
    
                    .right_arrow {
                        width: 20px;
                        height: 20px;
                        border-right: 2px solid rgba($color: #000000, $alpha: 0.6);
                        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.6);
                        transform: rotate(-45deg);
                    }
                }
            }
                        
            .wood_species_square_block_back_head {
                font-size: 20px;
                padding: 30px 0 18px 0;
            }
            
            .wood_species_square_block_back_btn {
                background: $colorGreen;
                font-size: 17px;
                font-family: $fontSansSemibold;
                padding: 12px 30px;
                z-index: 5;
                display: inline-block;
            }  
                    
        }

        &:hover {
            .wood_species_square_block_back {
                display: block;
            }
        }
    }  
}

// Секция "Футер"
#footer {
    background: #998658;
    color: white;
    padding: 40px 0;

    .footer_block {
        margin-left: 15px;
    }

    a {
        color: #e4dfd2;
        font-family: $fontSansLight;

        &:hover {
            text-decoration: underline !important;
        }
    }

    h5 {
        font-size: 20px;
        font-family: $fontSansSemibold;
        margin-bottom: 40px;
    }

    li {
        margin-top: 25px;
    }

    .link_email {
        margin: 30px 0;
        display: block;
    }

    .link_address {
        line-height: 1.5em;
    }
}
